<div *ngIf="!userService.connected()" id="registration-login-wrapper">
	<div class="row start-chat-login-btns">
		<div class="col">
			<a (click)="handleRegistrationAction()"
				class="waves-effect waves-light btn-large start-chat-btn">INSCRIPTION</a>
		</div>
		<div class="col">
			<a (click)="handleLoginAction()" class="waves-effect waves-light login-btn">CONNEXION</a>
		</div>
	</div>

	<form [formGroup]="registrationLoginFormGroup" id="registration-login-form"
		(ngSubmit)="onSubmitRegistrationLogin()">
		<div *ngIf="sharedService.registrationAction" class="row">
			<div class="col s12">
				<div class="row" [ngStyle]="{ paddingTop: '20px' }">
					<div class="input-field col s6">
						<input formControlName="name" id="name" [ngClass]="{
								invalid: submittedStartRegistrationLogin && r['name'].errors
							}" type="text" />
						<!-- placeholder="ex: Charly" -->
						<label for="name" length="30">Votre nom</label>
						<span [attr.data-error]="
								submittedStartRegistrationLogin && sharedService.checkInput('name', r)
							" data-success="OK !" class="helper-text">
						</span>
					</div>
					<div class="input-field col s6">
						<input id="email" formControlName="email" type="email" [ngClass]="{
								invalid: submittedStartRegistrationLogin && r['email'].errors
							}" />
						<!-- placeholder="ex: charly@delta.com" -->
						<label for="email" length="30">Votre email</label>
						<span class="helper-text" [attr.data-error]="
								submittedStartRegistrationLogin && sharedService.checkInput('email', r)
							" data-success="OK !">
						</span>
					</div>
				</div>
				<ng-template [ngTemplateOutlet]="enterBtnTemplate"></ng-template>
			</div>
		</div>

		<div *ngIf="sharedService.loginAction" class="row" id="login">
			<div class="col s12">
				<div class="row" [ngStyle]="{ paddingTop: '20px' }">
					<div class="input-field col">
						<input id="email" formControlName="email" type="email" [ngClass]="{
								invalid: submittedStartRegistrationLogin && r['email'].errors
							}" />
						<label for="email" length="30">Votre email</label>
						<span class="helper-text" [attr.data-error]="
								submittedStartRegistrationLogin && sharedService.checkInput('email', r)
							" data-success="OK !">
						</span>
					</div>
				</div>
				<ng-template [ngTemplateOutlet]="enterBtnTemplate"></ng-template>
			</div>
		</div>

		<ng-template #enterBtnTemplate>
			<ng-container *ngIf="sharedService.loginAction || sharedService.registrationAction">
				<div class="row" id="action-btn">
					<div *ngIf="loaderRegistrationLogin; else btnDiv" class="loader"></div>

					<ng-template #btnDiv>
						<button class="btn waves-effect waves-light btn-flat" type="submit">
							{{ sharedService.loginAction ? "Se connecter" : "Entrer" }}
						</button>
					</ng-template>
				</div>
			</ng-container>
		</ng-template>
	</form>
</div>