@import "../../files/scss/variables/_colors";

#registration-login-wrapper {
	width: 800px;

	.start-chat-login-btns {
		display: flex;
		justify-content: center;
		margin-bottom: 0px;
		background-color: $grayopacity;
		padding-top: 30px;
		padding-bottom: 30px;

		.col {
			display: flex;
			align-items: center;

			a {
				&.login-btn {
					color: $nightmode;

					&:hover {
						color: $basecolor;
					}
				}

				&.registration-btn {
					&:hover {
						color: $nightmode;
					}
				}

				&:hover {
					text-decoration: underline;
				}

				&:active,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	#login {
		width: fit-content;

		.helper-text {
			text-align: center;
		}
	}

	input,
	label {
		text-align: center;
	}

	input {
		background-color: $gray;
		width: 100%;
	}

	#action-btn {
		display: none;
		background-color: $grayopacity;
		margin: 0 auto;
		width: 155px;
		height: 36px;
		text-align: center;
		margin-bottom: 16px;

		button {
			margin: auto;

			&:hover {
				color: $basecolor;
			}
		}
	}
}
