<div id="chat" class="container">
	<section>
		<ng-container *ngIf="userService.connected()">
			<header id="chat-header" class="chat-header">
				<div class="chat-header-title">
					ROOM
				</div>
				<div *ngIf="userService.connected()" class="chat-header-options">
					<button class="btn waves-effect logout-btn waves-light btn-flat" (click)="logout()">
						DÉCONNEXION
					</button>
				</div>
			</header>
		</ng-container>

		<main class="main-chat">
			<ng-container *ngIf="userService.connected()">
				<div id="bubble-wrapper" class="bubble-wrapper">
					<ng-container *ngIf="loaderMessages">
						<br />
						<br />
						<div class="loader"></div>
						<br />
						<br />
					</ng-container>

					<ng-container *ngIf="!loaderMessages">
						<ng-container *ngIf="this.messageService.messages.length; else noMessages">
							<div *ngFor="let message of this.messageService.messages; index as i" class="msg {{
										message.user._id === this.userService.user._id ? 'right' : 'left'
									}}-msg{{
										message.user._id !== userService.user._id
											? ' new'
											: ''
									}}">
								<div class="msg-img" style="background-image: url('{{ message.user.imagePath }}')">
								</div>

								<div class="msg-bubble">
									<div class="msg-info">
										<div class="msg-info-name">
											{{ message.user.name === userService.user.name ? "Moi" :
											message.user.name }}
										</div>
										<div class="msg-info-time">
											{{ getDate(message._id) }}
										</div>
									</div>

									<div id="{{ message._id }}" class="msg-text {{ message.user._id }}">
										{{ message.message }}
									</div>
								</div>
							</div>
						</ng-container>

						<ng-template #noMessages>
							<div class="nothing-to-display">
								ENVOYEZ VOTRE PREMIER MESSAGE
							</div>
						</ng-template>
					</ng-container>
				</div>
			</ng-container>

			<app-auth (handleConnected)="handleConnectedEmitter($event)"></app-auth>
		</main>

		<form [ngStyle]="{ display: userService.connected() ? 'block' : 'none' }" [formGroup]="chatFormGroup"
			(ngSubmit)="onSubmitChat()">
			<div class="chat-inputarea">
				<input #chatInput id="message" placeholder="Enter votre message ici..." formControlName="message"
					type="text" class="chat-input" />
				<button #chatSendBtn [attr.disabled]="true" type="submit" class="chat-send-btn">
					<span class="material-icons"> send </span>
				</button>
			</div>
		</form>
	</section>
</div>