@import "../../files/scss/variables/_colors";

#chat {
	margin: 0 auto;
	width: 800px;
	height: calc(100% - 50px);
	border-radius: 5px;
	background: $secondcolor;
	box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
	margin-bottom: 50px;

	.chat-header {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		background: #eee;
		color: #666;

		.chat-header-title {
			display: flex;
			align-content: center;
			align-items: center;
			font-weight: bold;
		}

		.chat-header-options {
			button {
				&.logout-btn {
					color: $red;
				}

				text-decoration: underline;
				font-weight: bold;
				font-size: 12px;

				&:hover {
					color: $basecolor;
					text-decoration: none;
				}
			}
		}

		@media (max-width: 321px) {
			.chat-header-title,
			.chat-header-options button {
				font-size: 12px;
			}
		}
	}

	.main-chat {
		overflow-y: auto;
		background-color: #fcfcfe;
		background-image: url("/assets/chat.svg");
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
		max-height: 400px;

		.bubble-wrapper {
			padding: 10px;
		}

		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-track {
			background: #ddd;
		}
		&::-webkit-scrollbar-thumb {
			background: #bdbdbd;
		}

		.nothing-to-display {
			text-align: center;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			background-color: $grayopacity;
		}

		.msg {
			display: flex;
			align-items: flex-end;
			margin-bottom: 10px;

			&:last-of-type {
				margin: 0;
			}

			&.new {
				.msg-bubble {
					border: 1px solid $green;
				}
			}
		}

		.msg-img {
			width: 50px;
			height: 50px;
			margin-right: 10px;
			background: #ddd;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
		}

		.msg-bubble {
			max-width: 450px;
			padding: 10px;
			border-radius: 15px;
			background: $gray;
		}

		.msg-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}

		.msg-info-name {
			margin-right: 10px;
			font-weight: bold;
		}

		.msg-info-time {
			font-size: 0.6em;
		}

		.left-msg .msg-bubble {
			border-bottom-left-radius: 0;
		}

		.right-msg {
			flex-direction: row-reverse;

			.msg-bubble {
				background: $basecolor;
				color: #fff;
				border-bottom-right-radius: 0;
			}
		}

		.right-msg .msg-img {
			margin: 0 0 0 10px;
		}
	}

	.chat-inputarea {
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
		border-top: 2px solid #ddd;
		padding: 10px;
		background: #eee;

		* {
			border: none;
			font-size: 1em;
		}

		.chat-input {
			background: $secondcolor;
			width: 100%;
			height: initial;
			padding-left: 10px;
			padding-right: 10px;
		}

		.chat-send-btn {
			width: 80px;
			border-radius: 0;
			border: none;
			padding: 2px;
			margin-left: 10px;
			background: $basecolor;
			color: #fff;
			font-weight: bold;
			transition: background 0.23s;
			padding: 20px;

			&:not([disabled]) {
				cursor: pointer;
			}

			&:hover {
				background: rgb(33 150 243 / 88%);
			}
		}
	}
}
