@import "./variables/_colors";

.loader {
	border: 1px solid #f3f3f3;
	border-top: 3px solid #2980b9;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s ease-out infinite;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	margin: auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
