/* You can add global styles to this file, and also import other style files */

@import "./variables/_colors";

*,
body {
	font-family: "Titillium Web", sans-serif;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------- */
/*                                 END CANVAS                                 */
/* -------------------------------------------------------------------------- */

.modal .modal-content {
	padding: 10px !important;
}

a,
button {
	transition: color 0.3s;
	font-weight: bolder;

	&:hover {
		color: $secondcolor;
	}
}
