@import "./_colors";

@mixin pulseAnimation($name) {
	position: relative;
	animation-name: $name;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

@mixin leftRightPulseAnimation($name, $pos: 5px) {
	@include pulseAnimation($name);

	@keyframes #{$name} {
		0% {
			left: 0;
		}

		75% {
			left: $pos;
		}

		100% {
			left: 0;
		}
	}
}

@mixin bottomTopPulseAnimation($name, $pos: 5px) {
	@include pulseAnimation($name);

	@keyframes #{$name} {
		0% {
			bottom: 0;
		}

		75% {
			bottom: $pos;
		}

		100% {
			bottom: 0;
		}
	}
}

@mixin display {
	@keyframes display {
		0% {
			display: none;
			opacity: 0;
		}
		100% {
			display: block;
			opacity: 1;
		}
	}
}
